<!Doctype html>

<html>
<head>
<title></title>
</head>
<body>
<h1>Create pin</h1>

{{form_start(Monformulaire)}}

    {{form_widget(Monformulaire)}}

    <input type='submit' value='Create'>

{{form_end(Monformulaire)}}
</body>  
</html>